extends layout

block content
    // Modals
    #edit-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='edit-modal-label' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#edit-modal-label.modal-title Edit Field
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    form#edit-form
                        .form-group
                        label.field-title(for="edit-field") Field
                        input.form-control#edit-field(type="text" placeholder="field")
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-primary(type='submit' form="edit-form") Save

    .row.justify-content-between
        .col
            h1 Edit configuration
        .col.align-self-center.text-right
            buton.btn.btn-outline-warning#reload-brain(role="button") Reload Brain

    #reload-alert.alert.alert-warning(style="display: none;")
        p You have pending changes to configuration. You need to reload the brain to apply them.

    table.table
        thead.thead-light
            tr
                th(scope='col') Field (Current)
                th(scope='col') Saved configuration
        tbody
            tr#botname
                th(scope='row')
                    | Name of bot (
                    span= loaded_configuration.botname
                    | )
                td
                    i.fas.fa-edit.action.text-primary.mr-1(title="Edit" data-field="botname" onClick="editField(this)")
                    span.current= configuration.botname
            tr#lang
                th(scope='row')
                    | Language (
                    span= loaded_configuration.lang
                    | )
                td
                    i.fas.fa-edit.action.text-primary.mr-1(title="Edit" data-field="lang" onClick="editField(this)")
                    span.current= configuration.lang

    table.table
        thead.thead-light
            tr
                th(scope='col') Field 
                th(scope='col') current
                th(scope='col') Saved configuration
                th(scope='col') Description
        tbody        
            tr#noskillfound
                th(scope='row') No Skill Found message
                td= loaded_configuration.noskillfound
                td
                    i.fas.fa-edit.action.text-primary.mr-1(title="Edit" data-field="noskillfound" onClick="editField(this)")
                    span.current= configuration.noskillfound
                td Message printed when there was no skill found with the /command route
            tr#errornlp
                th(scope='row') Error of nlp message
                td= loaded_configuration.errornlp
                td
                    i.fas.fa-edit.action.text-primary.mr-1(title="Edit" data-field="errornlp" onClick="editField(this)")
                    span.current= configuration.errornlp
                td Message printed when there is an error with the nlp
            tr#errorintent
                th(scope='row') Error of intent message
                td= loaded_configuration.errorintent
                td
                    i.fas.fa-edit.action.text-primary.mr-1(title="Edit" data-field="errorintent" onClick="editField(this)")
                    span.current= configuration.errorintent
                td Message printed when there was no intent found 
            tr#noskillfoundnlp
                th(scope='row') No skill found nlp message 
                td= loaded_configuration.noskillfoundnlp
                td
                    i.fas.fa-edit.action.text-primary.mr-1(title="Edit" data-field="noskillfoundnlp" onClick="editField(this)")
                    span.current= configuration.noskillfoundnlp
                td Message printed when there was no skill with the intent retrieved found
            tr#noentitiesfound
                th(scope='row') No entities found message
                td= loaded_configuration.noentitiesfound
                td
                    i.fas.fa-edit.action.text-primary.mr-1(title="Edit" data-field="noentitiesfound" onClick="editField(this)")
                    span.current= configuration.noentitiesfound
                td Message printed when there was no entities found in the given message
            tr#errorcommand
                th(scope='row') Error with command message
                td= loaded_configuration.errorcommand
                td
                    i.fas.fa-edit.action.text-primary.mr-1(title="Edit" data-field="errorcommand" onClick="editField(this)")
                    span.current= configuration.errorcommand
                td Message printed when there is an error in the command execution
            tr#errorthread
                th(scope='row') Error with thread message
                td= loaded_configuration.errorthread
                td
                    i.fas.fa-edit.action.text-primary.mr-1(title="Edit" data-field="errorthread" onClick="editField(this)")
                    span.current= configuration.errorthread
                td Message printed when there is an error in the thread execution
            tr#unauthorized
                th(scope='row') Unauthorized error
                td= loaded_configuration.unauthorized
                td
                    i.fas.fa-edit.action.text-primary.mr-1(title="Edit" data-field="unauthorized" onClick="editField(this)")
                    span.current= configuration.unauthorized
                td Message printed when the user try to to a command or an intent he is not authorized to
    
    script
        include ../public/js/config.js
