extends layout

block content
  .row.justify-content-between
    .col
      h1 Skills
    .col.align-self-center.text-right
      buton.btn.btn-outline-warning#reload-brain(role="button") Reload Brain
      a.btn.btn-outline-success#new-skill(role="button" onClick="$('#createSkillModal').modal('toggle')" style="margin-left: 1em;color: green") New Skill
  
  .list-group
    if skills
      each skill in skills
        .list-group-item.flex-column.align-items-start(id="skill-"+skill.name)
          .d-flex.w-100.justify-content-between
            h4.mb-1.capitalized= skill.name
            div
              a.action.mb-1.text-warning(role="button" title="Reload skill" aria-label="Reload skill" data-skill=skill.name onClick="reloadSkill(this)")
                i.fas.fa-sync
              a.action.mb-1.text-muted(role="button" href="/dashboard/skills/"+skill.name title="Monitor this skill" style="margin-left: 1em;" aria-label="Monitor this skill" data-skill=skill.name)
                i.fas.fa-cog
              a.action.mb-1.text-info(role="button" href="/dashboard/skills/"+skill.name+"/edit" title="Edit this skill" style="margin-left: 1em;" aria-label="Edit this skill" data-skill=skill.name)
                i.fas.fa-edit
              a.action.mb-1(role="button" title=( skill.active ? "Deactivate skill" : "Activate skill") style="margin-left: 1em;" aria-label=( skill.active ? "Deactivate skill" : "Activate skill") class=( skill.active ? "text-success" : "text-danger") data-skill=skill.name data-active=(`${skill.active}`) onClick="skillToggle(this)")
                if skill.active
                  i.fas.fa-toggle-on
                else
                  i.fas.fa-toggle-off
              a.action.mb-1.text-danger(role="button" title="Delete skill "+skill.name style="margin-left: 1em;" aria-label="Delete skill "+skill.name data-skill=skill.name onClick="deleteSkill(this)")
                i.fas.fa-trash
              a.action.displayer(role="button" title="Display skill." style="margin-left: 1em;" onClick=`toggleSkillDetail('${skill.name}');`)
                i.fas.fa-caret-down
          .collapse(id="detail-"+skill.name)
            h5 Intents
            if skill.intents && Object.keys(skill.intents).length > 0
              each intent, intentName in skill.intents
                .list-group-flush
                  .list-group-item-light.flex-column.align-items-start
                    .d-flex.w-100.justify-content-between
                      div
                        span= intentName
                        em= ` (${intent.slug})`
            else
              p.font-weight-light.font-italic There are no intents associated with this skill.
            h5 Commands
            if skill.commands && Object.keys(skill.commands).length > 0
              each command, commandName in skill.commands
                .list-group-flush
                  .list-group-item-light.flex-column.align-items-start
                    .d-flex.w-100.justify-content-between
                      div
                        span= commandName
            else
              p.font-weight-light.font-italic There are no commands for this skill.

  #deleteModal.modal.fade.bd-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Are you sure you want to delete the &nbsp;
              h5#skillRemove.modal-title 
              h5.modal-title &nbsp; skill ?
              button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            .modal-body
              .container(style="padding-top: 30px;padding-bottom: 30px;")
                .row
                  .col-sm-6.text-center
                    button.btn.btn-success(onClick="deleteSkill2(this)") Yes
                  .col-sm-6.text-center
                    button.btn.btn-danger(type='button', data-dismiss='modal', aria-label='Close') No

  #createSkillModal.modal.fade.bd-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
          h5.modal-title Enter the name of the skill you want to create
          button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        .modal-body
          .container(style="padding-top: 30px;padding-bottom: 30px;")
            .row
            form#skill-generate
              .form-group.row
                label.col-sm-4.col-form-label(for="skill-name") Skill name
                .col-sm-8
                  input.form-control#skill-name(type="text")
              input.btn.btn-primary(type="submit" value="Create Skill !")

  script
    include ../public/js/skills.js
