extends layout

block content
    // Modals
    #new-user-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='new-user-modal-label' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#new-user-modal-label.modal-title New user
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    .modal-alert
                    form#new-user-form
                        .form-group
                            label(for="new-user-name") Username
                            input.form-control#new-user-name(type="text" placeholder="User.Name" required)
                        .form-group
                            label(for="new-user-password") Password
                            input.form-control#new-user-password(type="text" aria-describedby="password-help" placeholder="password")
                            small#password-help.form-text.text-muted Leave blank to randomize secure password.
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-success(type='submit' form="new-user-form") Add
    
    #delete-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='delete-modal-label' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#delete-modal-label.modal-title Delete
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    .modal-alert
                    p.modal-text Wow! Do you really want to delete this ?
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') No! Abort!
                    button.btn.btn-danger.confirm(type='button') Yes! Delete!
    
    #user-roles-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='user-roles-modal-label' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#user-roles-modal-label.modal-title
                        | Manage Roles of 
                        strong.user this user
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    .modal-alert
                    p
                        strong.user this user
                        |  has the following roles:
                    ul.list-group.role-list
                    .row.mt-1
                        .col.text-right
                            select.selected-role.mr-2
                                option admin
                                option guest
                            i.fas.fa-plus.text-success.text-right.action(title="Assign a role" onClick="assignRole()")
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
    
    #user-perms-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='user-perms-modal-label' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#user-perms-modal-label.modal-title
                        strong.user This user
                        | 's permissions
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    .modal-alert
                    p Permissions of this user:
                    form#user-permissions-form
                        each perm, permName in permissions
                            .form-check.permission
                                input.form-check-input(type="checkbox" value=permName id=permName)
                                label.form-check-label(for=perName)= perm.description
                            if perm.hasAny
                                .form-check.permission(style="padding-left: 3rem")
                                    input.form-check-input(type="checkbox" value=permName+"_ANY" id=permName+"_ANY")
                                    label.form-check-label(for=perName+"_ANY") Allow access to all elements 
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-success(type='submit' form="user-permissions-form") Save

    #new-role-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='new-role-modal-label' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#new-role-modal-label.modal-title New role
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    .modal-alert
                    form#new-role-form
                        .form-group
                            label(for="new-role-name") Role Name
                            input.form-control#new-role-name(type="text" placeholder="Guest" required)
                        .form-group
                            each perm, permName in permissions
                                .form-check.permission
                                    input.form-check-input(type="checkbox" value=permName id=permName)
                                    label.form-check-label(for=perName)= perm.description
                                if perm.hasAny
                                    .form-check.permission(style="padding-left: 3rem")
                                        input.form-check-input(type="checkbox" value=permName+"_ANY" id=permName+"_ANY")
                                        label.form-check-label(for=perName+"_ANY") Allow access to all elements 
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-success(type='submit' form="new-role-form") Add

    #role-perms-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='role-perms-modal-label' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#role-perms-modal-label.modal-title
                        strong.role This role
                        |  permissions
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    .modal-alert
                    p Permissions of this role:
                    form#role-permissions-form
                        each perm, permName in permissions
                            .form-check.permission
                                input.form-check-input(type="checkbox" value=permName id=permName)
                                label.form-check-label(for=perName)= perm.description
                            if perm.hasAny
                                .form-check.permission(style="padding-left: 3rem")
                                    input.form-check-input(type="checkbox" value=permName+"_ANY" id=permName+"_ANY")
                                    label.form-check-label(for=perName+"_ANY") Allow access to all elements 
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-success(type='submit' form="role-permissions-form") Save

    #default-role-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='default-role-modal-label' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#default-role-modal-label.modal-title Change default role
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    .modal-alert
                    form#default-role-form
                        .form-group
                            label(for="default-role-select") Default role
                            select.form-control#default-role-select
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button.btn.btn-success(type='submit' form="default-role-form") Save
    

    h1 Users
    p These users have access to the brain. You may configure their permissions and roles here.

    p 
        | By default, new users will be granted the role : 
        strong=((roles.find(role => role.default) ? roles.find(role => role.default).name : "guest") || "guest")
        |  (
        a(href="#" onClick="modifyBaseRole()") Modify
        | ).
        br
        | Their permissions are:

    .row
        .col.align-self-end.text-right
            button.text-right.btn.btn-outline-success(onClick="addUser()") New User
    .row
        .col
            table.table#user-list
                thead.thead-light.action(onClick="collapseUserList()")
                    tr
                        th(scope='col') Username
                        th(scope='col') Roles
                        th(scope='col')
                            .row
                                .col Actions 
                                .col.text-right
                                    i.ml-2.icon-show.far.fa-caret-square-down
                                    i.ml-2.icon-show.far.fa-caret-square-up.d-none
                tbody.collapse#user-list-collapse
                    if users
                        each user in users
                            tr(data-user=user.user_name)
                                th(scope='row')=user.user_name
                                td=user.roles.join(", ")
                                td
                                    i.text-primary.action.ml-1.fas.fa-eye(title="See permissions" onClick="seeUserPerms(this)" data-user=user.user_name)
                                    i.text-warning.action.ml-1.fas.fa-crown(title="Manage roles" onClick="manageUserRoles(this)" data-user=user.user_name)
                                    i.text-secondary.action.ml-1.fas.fa-cog(title="Manage user" onClick="manageUser(this)" data-user=user.user_name)
                                    i.text-danger.action.ml-1.fas.fa-trash-alt(title="Delete user" onClick="deleteUser(this)" data-user=user.user_name)
    
    h1 Roles
    p Roles bear permission groups. You can assign multiple roles to users.

    .row
        .col.align-self-end.text-right
            button.text-right.btn.btn-outline-success(onClick="addRole()") New Role
    .row
        .col
            table.table#role-list
                thead.thead-light.action(onClick="collapseRoleList()")
                    tr
                        th(scope='col') Role
                        th(scope='col')
                            .row
                                .col Actions 
                                .col.text-right
                                    i.ml-2.icon-show.far.fa-caret-square-down
                                    i.ml-2.icon-show.far.fa-caret-square-up.d-none
                tbody.collapse#role-list-collapse
                    if roles
                        each role in roles
                            tr(data-role=role.name)
                                th(scope='row')=role.name
                                td
                                    i.text-success.action.ml-1.fas.fa-users(title="See members" onClick="seeRoleUsers(this)" data-role=role.name)
                                    i.text-primary.action.ml-1.fas.fa-eye(title="Manage role" onClick="manageRole(this)" data-role=role.name)
                                    i.text-danger.action.ml-1.fas.fa-trash-alt(title="Delete role" onClick="deleteRole(this)" data-role=role.name)
        
    script
        include ../public/js/users.js